.mainContainer {
  height: 100vh;
  background-image: url('../../static/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, black 0, transparent 50%);
  }

  .loginArea {
    width: 60vh;
    height: 50vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(145deg, white 50%, transparent);
    border-radius: 20px;
    box-shadow: 4px 4px 5px 0 #999999;
  }
}
